#header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  text-align: center;
}

.body {
  height: 100%;
}

.container {
  display: flex;
  height: 700px;
  margin-top: 10px;
  max-width: 90%;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  border: 1px #000000 solid;
  border-radius: 5px;
  margin-top: 5px;
  overflow: auto;
}

.col-md-3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cell {
  height: 100%;
  border: 1px #000000 solid;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-top: 5px;
}

#removeNet{
  position: absolute;
  right: 16px;
}

#classResetBtn
{
  position: absolute;
  right: 16px;
}
#classBtn{
  position: absolute;
  left: 0px;
}
#validerClass {
  position: absolute;
  right: 53px;
}

#validerFile {
  position: absolute;
  right: 53px;
}

#listeImg {
  position: relative;
  top: 0px;
}

#menu-class {
  position: relative;
  margin-top: -102px;
}

#img-selected {
  position: absolute;
  bottom: 150px;
}

#validerImg {
  position: absolute;
  top: 188px;
  left: 16px;
}


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#footer {
  text-align:center;
  position: fixed;
  bottom:0;
  width:100%;
  display:inline-block;
  vertical-align:top;
}

#btnFiltre {
  text-align: center;
  /* centrer le bouton */

}

#btnSwitchFiltre {
  position: absolute;
  left: 20px;
  top: 260px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 2px;
  top : 2px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #808080;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#filtreBox {
  overflow: auto;
  flex-direction: column;
  padding-top: 40px;
}

#nomBtnFiltre {
  position: absolute;
  left: 90px;
  top: 264px;
}
.filtre {
  border-style: outset;
  padding: 1px;
  margin: 3px;
}
#closeFiltre {
  width: 25px;
  height: 25px;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 2px;
}


.rectangle {
  width: 50px;
  height: 200px;
  border: 1px #000000 solid;
}

.arrow {
  width: 60px;
  height: 50px;
  margin-right: 0px;
  margin-top: 0px;
}

.arrow-reverse-X {
  width: 60px;
  height: 50px;
  margin-right: 0px;
  margin-top: 0px;
  transform: scaleX(-1);
}

.arrow-reverse-XY {
  width: 97%;

  height: auto;
  margin-top: -15px;
  margin-bottom: 10px;
/*  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1);*/
}

.filter {
  width: 100%;
  height: 100%;
}

#filtreBox
{
  margin-top: 15px;
}
.filter:hover {
  transform: scale(2.5);
  transition-delay: 0.3;
}

.heatMap {
  width: 100%;
  height: 100%;
}

.heatMap:hover {
  transform: scale(1.5);
  transition-delay: 0.3;
}

.zoom-img {
  width: 300px;
  height: 300px;
  transition: 0.3s;
}

.dezoom-img {
  width: 180px;
  height: 200px;
  transition: 0.3s;
}

.neural-network {
  margin-top: 0%;
  direction: row;
  overflow: hidden;
}

.div-neural-network {
  /*display: flex;
  flex-direction: column;*/
  margin-top: 5%;
}

.div-liste{
  border: 1px black solid;
  margin: 2px 2px 2px 2px ;
}


.input-layer {
 width: 65px;
 height: 90px;
 border: 1px #000000 dashed;
 background-color: #F5F5DC;
}

.convolution-layer {
 width: 65px;
 height: 90px;
 border: 1px #000000 solid;
 background-color: #F08080;
}

.pooling-layer {
 width: 65px;
 height: 90px;
 border: 1px #000000 double;
 background-color: #6495ED;
}

.flatten-layer {
 width: 65px;
 height: 90px;
 border: 1px #000000 double;
 background-color: gold;
}

.dense-layer {
 width: 65px;
 height: 90px;
 border: 1px #000000 double;
 background-color: palegreen;
}

.miniature {
  width: auto;
  height: 30%;
  margin-left: 10px;
}

.class_mini {
  width: 50px;
  height: auto;
  position: relative;

  top: 70px;
}


.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
  /*visibility: hidden;*/
  position: absolute;
  left: 50%
  top:50%;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
