<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://unpkg.com/konva@2.4.2/konva.min.js"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static "/mysite/css/interface.css"%}"/>
</head>

<header id="header">
  <h1>Visualisation de réseaux de neurones profonds</h1>
</header>



<body>
  <div class="container">
    <div id="colgauche" class="col-md-3">

      <div id="filecell" class="cell">
        <!--<div id="uploadfile" class="upload-btn-wrapper">
          <button class="btn btn-primary">Choisir un réseau</button>
        </div>
        <div id="validerFile">
          <a href="#" class="btn btn-success">
            <span class="fas fa-check"></span> Ok
          </a>
        </div> -->
        <div class="btn-toolbar mb-3" role="toolbar">
          <!--<div class='btn-group'>-->
            <div id="nets" class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choisir un réseau
              </button>
              <div id="menu-net" class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              </div>
            </div>
            <button id="validerFile" class="btn btn-success"  onclick="this.disabled = 'disabled'"><span class="fas fa-check" ></span> Ok</button>
            <button id="removeNet" class="btn btn-danger" onclick="document.getElementById('validerFile').disabled = false "><span class="fas fa-times">

            </button>
          </tr>
          <!--</div>-->
        </div>

      </div>

    </div>
    <div id="colCentre" class="col-md-6">
      <div style="overflow-x:auto">
        <table id="divNN">
          <colgroup class="columns"></colgroup>
        </table>
      </div>
     <!-- <canvas id="tutoriel" width="150" height="150">
   </canvas>
 -->
</div>
<div id="colDroite" class="col-md-3">
  <div class="cell" id="heatMapBox">
  </div>
  <div class="cell" id="filtreBox">
    <!--- <label class="switch" id='btnSwitchFiltre'>
      <input type="checkbox">
      <span class="slider round"></span>
    </label >
    <p id='nomBtnFiltre'>Filtres/Image
    </p> -->
    <table id="tableFilters">
      <colgroup class="columns"></colgroup>
    </table>
  </div>
</div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% load static %}
  <script src="{% static "mysite/js/script.js"%}" type="text/javascript"></script>

</body>

<footer id="footer">
  <p>Projet au Fil de l'Année - 2018/2019  </p>
</footer>
</html>
